```hcl
gcp_project_id        = "example-gcp-project"
gcp_region            = "us-central1"
destination_bucket_name = "example-production-destination-bucket"

project_name = "s3-to-gcs-migration"
environment  = "production"
```
